@model IEnumerable<Agendamento.Dominio.Usuario>

@{
    ViewBag.Title = "Pagina de Cadastro";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo Usuario", "Cadastrar")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.usuarioId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.usuarioId }) |
            @Html.ActionLink("Excluir", "Excluir", new { id=item.usuarioId })
        </td>
    </tr>
}

</table>
